In [1]:
# importing all required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\mouni\Desktop\Statistics_Practice_Files\tennis.csv")

In [3]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

# Outlook and Play

In [4]:
pd.crosstab(df['outlook'], df['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [5]:
pd.crosstab(df['outlook'], df['play'], margins = True)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [6]:
pd.crosstab(df['outlook'], df['play'], margins = True)/len(df)

play            no       yes       All
outlook
overcast  0.000000  0.285714  0.285714
rainy     0.142857  0.214286  0.357143
sunny     0.214286  0.142857  0.357143
All       0.357143  0.642857  1.000000

In [7]:
pd.crosstab(df['outlook'], df['play'], margins = True)/len(df), 2

(play            no       yes       All
 outlook
 overcast  0.000000  0.285714  0.285714
 rainy     0.142857  0.214286  0.357143
 sunny     0.214286  0.142857  0.357143
 All       0.357143  0.642857  1.000000,
 2)

In [8]:
tennis_ct = np.round(pd.crosstab(df['outlook'], df['play'], margins = True)/len(df), 2)
tennis_ct

play        no   yes   All
outlook
overcast  0.00  0.29  0.29
rainy     0.14  0.21  0.36
sunny     0.21  0.14  0.36
All       0.36  0.64  1.00

# Marginal Probabilities:

p(overcast)

P(rainy)

p(sunny)

p(no)

p(yes)

# Approach - 1:

In [9]:
p_overcast = tennis_ct.loc['overcast', 'All']
p_overcast

0.29

In [10]:
p_rainy = tennis_ct.loc['rainy', 'All']
p_rainy

0.36

In [11]:
p_sunny = tennis_ct.loc['sunny', 'All']
p_sunny

0.36

# Approach - 2:

In [12]:
tennis_ct

play        no   yes   All
outlook
overcast  0.00  0.29  0.29
rainy     0.14  0.21  0.36
sunny     0.21  0.14  0.36
All       0.36  0.64  1.00

In [13]:
tennis_ct.All.overcast

0.29

In [14]:
p_overcast = tennis_ct.All.overcast
p_overcast

0.29

In [15]:
p_rainy = tennis_ct.All.rainy
p_rainy

0.36

In [16]:
p_sunny = tennis_ct.All.sunny
p_sunny

0.36

In [17]:
tennis_ct['no']['All']

0.36

          or

In [18]:
tennis_ct.no.All

0.36

In [19]:
p_no = tennis_ct.no.All

In [20]:
p_yes = tennis_ct.yes.All

# Joint Probabilities:

p(overcast and yes)

p(overcast and no)

p(rainy and yes)

p(rainy and no)

p(sunny and yes)

p(sunny and no)

In [21]:
tennis_ct

play        no   yes   All
outlook
overcast  0.00  0.29  0.29
rainy     0.14  0.21  0.36
sunny     0.21  0.14  0.36
All       0.36  0.64  1.00

In [22]:
p_over_no = tennis_ct.no.overcast
p_over_no

0.0

In [23]:
p_over_yes = tennis_ct.yes.overcast
p_over_yes

0.29

In [24]:
p_rainy_no = tennis_ct.no.rainy
p_rainy_no

0.14

In [25]:
p_rainy_yes = tennis_ct.yes.rainy
p_rainy_yes

0.21

In [26]:
p_sunny_no = tennis_ct.no.sunny
p_sunny_no

0.21

In [27]:
p_sunny_yes = tennis_ct.yes.sunny
p_sunny_yes

0.14

# Conditional Probabilities:

p(overcast|yes) = p(overcast and yes)/p(yes)

p(overcast|no) = p(overcast and no)/p(no)

p(rainy|yes) = p(rainy and yes)/p(yes)

p(rainy|no) = p(rainy and no)/p(no)

p(sunny|yes) = p(sunny and yes)/p(yes)

p(sunny|no) = p(sunny and no)/p(no)

In [28]:
p_over_given_yes = p_over_yes/p_yes
p_over_given_yes

0.45312499999999994

In [29]:
p_over_given_no = p_over_no/p_no
p_over_given_no

0.0

In [30]:
p_rainy_given_yes = p_rainy_yes/p_yes
p_rainy_given_yes

0.328125

In [31]:
p_rainy_given_no = p_rainy_no/p_no
p_rainy_given_no

0.38888888888888895

In [32]:
p_sunny_given_yes = p_rainy_yes/p_yes
p_sunny_given_yes

0.328125

In [33]:
p_sunny_given_no = p_sunny_no/p_no
p_sunny_given_no

0.5833333333333334

In [36]:
def prediction(no, yes):
    if no > yes:
        return 'no'
    else:
        return 'yes'
for val in df.outlook:
    print(val)

sunny
sunny
overcast
rainy
rainy
rainy
overcast
sunny
sunny
rainy
sunny
overcast
overcast
rainy

In [40]:
def prediction(no, yes):
    if no > yes:
        return 'no'
    else:
        return 'yes'
for val in df.outlook:
    print(val)
    if val == 'sunny':
        print(prediction(p_sunny_given_no, p_sunny_given_yes))

sunny
no
sunny
no
overcast
rainy
rainy
rainy
overcast
sunny
no
sunny
no
rainy
sunny
no
overcast
overcast
rainy

In [41]:
def prediction(no, yes):
    if no > yes:
        return 'no'
    else:
        return 'yes'
for val in df.outlook:
    print(val)
    if val == 'sunny':
        print(prediction(p_sunny_given_no, p_sunny_given_yes))
p_sunny_given_no, p_sunny_given_yes

sunny
no
sunny
no
overcast
rainy
rainy
rainy
overcast
sunny
no
sunny
no
rainy
sunny
no
overcast
overcast
rainy

(0.5833333333333334, 0.328125)

In [38]:
def prediction(no, yes):
    if no > yes:
        return 'no'
    else:
        return 'yes'
for val in df.outlook:
    print(val)
for val in df.outlook:
    print(val)
    if val == 'sunny':
        print(prediction(p_sunny_given_no, p_sunny_given_yes))

sunny
sunny
overcast
rainy
rainy
rainy
overcast
sunny
sunny
rainy
sunny
overcast
overcast
rainy
sunny
no
sunny
no
overcast
rainy
rainy
rainy
overcast
sunny
no
sunny
no
rainy
sunny
no
overcast
overcast
rainy

In [42]:
for val in df.outlook:
    print(val)
    if val == 'sunny':
        print(prediction(p_sunny_given_no, p_sunny_given_yes))
    elif val == 'rainy':
        print(prediction(p_rainy_given_no, p_rainy_given_yes))
    else:
        print(prediction(p_over_given_no, p_over_given_yes))

sunny
no
sunny
no
overcast
yes
rainy
no
rainy
no
rainy
no
overcast
yes
sunny
no
sunny
no
rainy
no
sunny
no
overcast
yes
overcast
yes
rainy
no

In [43]:
for val in df.outlook:
    if val == 'sunny':
        print(prediction(p_sunny_given_no, p_sunny_given_yes))
    elif val =='rainy':
        print(prediction(p_over_given_no, p_rainy_given_yes))
    else:
        print(prediction(p_over_given_no, p_over_given_yes))

no
no
yes
yes
yes
yes
yes
no
no
yes
no
yes
yes
yes

In [44]:
new_play = []
for val in df.outlook:
    if val == 'sunny':
        new_play.append(prediction(p_sunny_given_no, p_sunny_given_yes))
    elif val == 'rainy':
        new_play.append(prediction(p_rainy_given_no, p_rainy_given_yes))
    else:
        new_play.append(prediction(p_over_given_no, p_over_given_yes))
df['new_play'] = new_play
df

     outlook  temp humidity  windy play new_play
0      sunny   hot     high  False   no       no
1      sunny   hot     high   True   no       no
2   overcast   hot     high  False  yes      yes
3      rainy  mild     high  False  yes       no
4      rainy  cool   normal  False  yes       no
5      rainy  cool   normal   True   no       no
6   overcast  cool   normal   True  yes      yes
7      sunny  mild     high  False   no       no
8      sunny  cool   normal  False  yes       no
9      rainy  mild   normal  False  yes       no
10     sunny  mild   normal   True  yes       no
11  overcast  mild     high   True  yes      yes
12  overcast   hot   normal  False  yes      yes
13     rainy  mild     high   True   no       no